<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Power.Water.org{% endblock %}</title>
    
    <meta name="viewport" content="width=device-width">

    <link rel="alternate" type="application/rss+xml" title="Water.org Feed'" href="/rss/feed/">
    {% block styles %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
    {% endblock %}

    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.1-respond-1.1.0.min.js"></script>
    <!--[if gte IE 9]>
      <style type="text/css"> .gradient { filter: none; } </style>
    <![endif]-->
</head>
<body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

{% block nav_bar %}
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="#"><img src="{{ STATIC_URL }}image/logo.png" alt="Water.org | Donate Your Voice" ></a>
                <div class="nav-collapse collapse">
                    <form class="navbar-form pull-right">
                        <button type="submit" class="btn">Sign in</button>
                    </form>
                </div><!--/.nav-collapse -->
            </div>
        </div>
    </div>
{% endblock %}

{% if messages %}
    <div id="messages-wrap" class="row">
        <div id="messages" class="container">
            <div id="messages-inner" class="container-inner">
                <ul class="messages">
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endif %}

{% block main_wrap %}
    <div id="main-wrap">
        {% block main %}{% endblock %}
    </div>
{% endblock %}
    
{% block footer %}
    <footer>
    </footer>
{% endblock %}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.8.2.min.js"><\/script>')</script>

<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>

<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>

<!-- Initiate Background Image -->
<script type="text/javascript">
    $('.featured-background-image').anystretch("{{ STATIC_URL }}image/featured-image.jpg", {speed: 150});
</script>

<!-- Initiate Collapse Pluggin -->
<script>
    $(".collapse").collapse();
</script>

<!-- Start Shareaholic Classic Bookmarks settings -->
<script type="text/javascript">
    var SHRCB_Settings = {"shr_classic":{"size":16,"link":"","service":"5,7,309,304,88","apikey":"2fc518bd8c0bb3cf45bdade11877971c1","shortener":"bitly","shortener_key":"","designer_toolTips":true,"twitter_template":"${title} - ${short_link} via @Shareaholic"}};
    var SHRCB_Globals = {"perfoption":"1"};
</script>
<!-- End Shareaholic Classic Bookmarks settings -->
<!-- Start Shareaholic Classic Bookmarks script -->
<script type="text/javascript">
    (function() {
    var sb = document.createElement("script"); sb.type = "text/javascript";sb.async = true;
    sb.src = ("https:" == document.location.protocol ? "https://dtym7iokkjlif.cloudfront.net" : "http://cdn.shareaholic.com") + "/media/js/jquery.shareaholic-publishers-cb.min.js";
    var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(sb, s);
    })();
</script>
<!-- End Shareaholic Classic Bookmarks script -->

<script>
    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
</script>

</body>
</html>
