<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <title>{% block title %}Power.Water.org{% endblock %}</title>

    <meta name="viewport" content="width=device-width">

    <link rel="alternate" type="application/rss+xml" title="Water.org Feed'" href="/rss/feed/">

    <!-- Stylesheets -->
    {% block styles %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome.min.1.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/font-awesome-ie7.min.css">
        <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ STATIC_URL }}css/main.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}css/responsive.css">
    {% endblock %}
    <!-- /Stylesheets -->

    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ STATIC_URL }}image/apple-touch-icon-144x144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ STATIC_URL }}image/apple-touch-icon-114x114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ STATIC_URL }}image/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ STATIC_URL }}image/apple-touch-icon-precomposed.png">

    <script src="{{ STATIC_URL }}js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendor/selectivizr-min.js"></script>

  {% block head_extra %}{% endblock %}
</head>

<body class="{% block body_class %}{% endblock %}">
    <!--[if lt IE 7]>
        <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
    <![endif]-->

{% block top %}
{{ block.super }}

{% include "fragments/responsive_navigation.html" %}

<div class="wrap">
  {% include "fragments/settings_form_success.html" %}
  {% if user.is_authenticated %}
      {% include "fragments/settings_form.html" %}
  {% endif %}

  <div id="header" class="row-fuid">
    <div class="container">
      <div class="row-fluid">
        <div class="span12 relative">
          <a class="logo pull-left hidden-phone external" href="http://water.org"><img src="{{ STATIC_URL }}/image/logo_dark@2x.png" alt="water.org - Water Day"></a>
          <a class="logo pull-left visible-phone external" href="http://water.org"><img src="{{ STATIC_URL }}/image/logo_dark@2x.png" alt="water.org - Water Day"></a>

          {% if display_profile %}
            {% include "fragments/profile_ribbon.html" %}
          {% endif %}

          {% include "fragments/navigation.html" %}

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% if messages %}
<div class="alert-wrapper">
  <div class="container">
    {% for message in messages %}
    <div class="alert alert-dismissable alert-{% if message.tags %}{{ message.tags }}{% endif %}">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      {{ message }}
    </div>
    {% endfor %}
  </div>
</div>
{% endif %}

{% block main_wrap %}
    <!-- Main -->
    <div id="main-wrap">
        {% block main %}{% endblock %}
    </div>
    <!-- /Main -->
{% endblock %}

  {% block footer_wrap %}
  {% block footer %}
  <div class="row-fluid water-footer">
    <div class="water-footer-header clearfix">
      <img class="water-footer-logo pull-left" src="{{ STATIC_URL }}image/logo-footer@2x.png" alt="" >
      <p class="water-footer-text pull-right">Safe water and the dignity of a toilet for all</p>
    </div>
    <ul class="water-footer-links">
      <li><a class="js-external" href="//www.facebook.com/water"><i class="icon-facebook-sign"></i>FACEBOOK</a></li>
      <li><a class="js-external" href="//twitter.com/water"><i class="icon-twitter"></i>TWITTER</a></li>
      <li><a class="js-external" href="//pinterest.com/waterdotorg/"><i class="icon-pinterest"></i>PINTEREST</a></li>
      <li><a class="js-external" href="//www.youtube.com/user/water"><i class="icon-youtube-play"></i>YOUTUBE</a></li>
      <li><a class="js-external" href="//instagram.com/water"><i class="icon-instagram"></i>INSTAGRAM</a></li>
      <li><a class="js-external" href="//www.flickr.com/photos/waterdotorg/"><i class="icon-flickr"></i>FLICKR</a></li>
      <li><a class="js-external" href="//plus.google.com/+water/posts"><i class="icon-google-plus-sign"></i>GOOGLE PLUS</a></li>
    </ul>
  </div>
  <div id="footer-base-wrap">
    <div class="container">
      <div class="row-fluid">
        <div class="span3">
          <a class="btn btn-footer-donate" href="http://water.org/donate/">Contribute</a>
        </div>
        <div id="footer-base_general" class="span5">
          <p class="general-links">
          <a href="http://water.org/contact/">Contact Us |</a>
          <a href="http://water.org/about/finance/">Financial Reporting |</a>
          <a href="http://water.org/privacy/">Privacy Policy |</a>
          <a href="http://water.org/terms/">Terms of Use</a>
          <br>
          copyright &copy; 1990-{% now "Y" %} Water.org
          </p>
        </div>
        <div id="footer-base_license" class="span4">
          <p>
          This site, unless otherwise noted, is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/us/">Creative Commons Attribution-Share Alike 3.0 United States License.</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  {% endblock %}

</div>
<!--/.wrap-->

<!-- Javascripts -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ STATIC_URL }}js/vendor/jquery-1.9.1.min.js"><\/script>')</script>
<script src="{{ STATIC_URL }}js/vendor/bootstrap.min.js"></script>
<script src="{{ STATIC_URL }}js/plugins.js"></script>
<script src="{{ STATIC_URL }}js/main.js"></script>

<!-- Assign Sharing and Tracking Variables -->
<script>
  var shareLink = 'http://power.water.org/{% if user.pk %}?ur={{ user.pk }}{% endif %}',
      shareTitle = 'Donate Your Voice',
      shareTitleEscaped = escape(shareTitle),
      shareImage = 'url({{ STATIC_URL }}image/logo@2x.png)',
      tweetTitle = 'Join me in helping to solve the water crisis. Together we can make a difference.';

  var userPK = '{{ user.pk }}';
</script>

<!-- Analytics Tracking Code -->
<script type="text/javascript">
  var _gaq = _gaq || [];
  var pluginUrl = '//www.google-analytics.com/plugins/ga/inpage_linkid.js';
  _gaq.push(['_require', 'inpage_linkid', pluginUrl]);
  _gaq.push(['_setAccount', 'UA-2458604-16']);
  _gaq.push(['_setDomainName', 'power.water.org']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>

{% block footer_scripts %}{% endblock %}
<!-- /Javascripts -->

</body>
</html>
