{% extends "base.html" %}
{% load humanize %}
{% load markup %}
{% load thumbnail %}

{% block body_class %}dashboard{% endblock %}

{% block top %}
    {{ block.super }}
    {% include "fragments/settings_form_success.html" %}
    {% include "fragments/settings_form.html" %}

    {% if user.is_authenticated and not user.email %}
      <!-- Email Form -->
      <div id="ajax-form" class="alert-ajax" style="display:none;">
        <div class="container relative">
            <form id="email-form" class="form-inline" method="POST" action="{% url ajax_email_form %}">{% csrf_token %}
                <div class="control-group">
                    <label class="control-label" for="inputIcon">Thanks for connecting! Please provide us with a valid email address:</label>
                    <div class="input-append">
                       <input id="email" name="email" size="16" type="text" placeholder="email@domain">
                       <input class="btn" type="submit" id="submit-email" value="Submit">
                    </div>
                </div>
            </form>
            <a class="close" href="#">&times;</a>
        </div>
      </div>
    {% endif %}
{% endblock %}

{% block main %}
  <!-- Thanks Block -->
  <div id="thanks-block">
    <div class="container">
      <div class="row-fluid">

        <div id="dashboard-user-img" class="span2">
          {% if profile.image %}
            <img src="{% thumbnail profile.image 140x140 crop %}" alt="{{ profile.user.get_full_name }}" />
            <!-- <img src="{{ STATIC_URL }}image/avatar.png" width="140" height="140" /> -->
          {% else %}
            <img src="{{ STATIC_URL }}image/avatar.png" width="140" height="140" />
          {% endif %}
        </div>

        <div class="span9">
          <h1 class="thanks-heading">Thanks, {{ user.first_name }}.</h1>
          <h4 class="thanks-text">
            Your sign up was successful. Thank you for making a difference by donating your voice to tell your followers about the global water crisis.
          </h4>
        </div>

      </div>
    </div>
  </div>

{% endblock %}

{% block footer_scripts %}
  {% if user.is_authenticated and not user.email %}
    <!-- Initiate Ajax Email Form -->
    <script>
        $(window).load(function() {
            setTimeout(ajaxFormShow, 500);
        });
    </script>

    <!-- Validate and Post Email Form -->
    <script>
        $(document).on("submit", "#email-form", function(e) {
            clear_form_field_errors($("#ajax-form"));
            e.preventDefault();
            var self = $(this),
                url = self.attr("action"),
                ajax_req = $.ajax({
                    url: url,
                    type: "POST",
                    data: {
                        email: self.find("#email").val(),
                        csrfmiddlewaretoken: self.find("input[name='csrfmiddlewaretoken']").val()
                    },
                    success: function(data, textStatus, jqXHR) {
                        $("#ajax-form").slideUp("medium");
                        showSuccess();
                    },
                    error: function(data, textStatus, jqXHR) {
                        var errors = $.parseJSON(data.responseText);
                        $.each(errors, function(index, value) {
                            if (index === "__all__") {
                                django_message(value[0], "error");
                            } else {
                                apply_form_field_error(index, value);
                            }
                        });
                    }
                });
        });
    </script>
  {% endif %}
{% endblock %}
