{% extends "base.html" %}
{% load humanize %}
{% load markup %}
{% load thumbnail %}

{% block body_class %}homepage{% endblock %}

{% block head_extra %}
    {{ block.super }}
    {% if display_profile %}
        <meta property="og:title" content="{{ display_profile.user.get_full_name }}"/>
        <meta property="og:type" content="{{ FACEBOOK_APP_NAMESPACE }}:friend"/>
        {% if display_profile.image %}<meta property="og:image" content="http://{{ site.domain }}{{ display_profile.image.url }}"/>{% endif %}
        <meta property="og:url" content="{{ absolute_uri }}"/>
        <meta property="og:site_name" content="{{ site.name }}"/>
        <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    {% endif %}
{% endblock %}

{% block top %}
{{ block.super }}
	<!-- Ajax Form -->
    <div id="ajax-success" class="row alert-ajax" style="display:none;">
        <div class="container">
        	<!-- Success Message -->
            <p>Your settings have been saved!</p>
            <!-- /Success Message -->
        </div>
        <!-- /container -->
    </div>
    <!-- /Ajax Form -->

	{% if user.is_authenticated and not user.email %}
		<!-- Ajax Form -->
	    <div id="ajax-form" class="row alert-ajax" style="display:none;">
	        <div class="container">
	        	<!-- Email Form -->
	            <form id="email-form" class="form-inline" method="POST" action="{% url ajax_email_form %}">{% csrf_token %}
	                <div class="control-group">
	                    <label class="control-label" for="inputIcon">Thanks for connecting! Please provide us with a valid email address:</label>
	                    <div class="input-append">
	                       <input class="span2" id="email" name="email" size="16" type="text" placeholder="email@domain">
	                       <input class="btn" type="submit" id="submit-email" value="Submit">
	                    </div>
	                </div>
	            </form>
	            <!-- /Email Form -->
	            <a class="close" href="#" onclick="ajaxFormHide()">&times;</a>
	        </div>
	        <!-- /container -->
	    </div>
	    <!-- /Ajax Form -->
	{% endif %}	
{% endblock %}

{% block main %}
    <div class="row-fluid">

    	<!-- Featured Background Image -->
    	<div class="featured-background-image hidden-phone">
    		<div id="main" role="main" class="container">
    			<div id="main-inner" class="container-inner">
    				<!-- Featured Post Title Block -->
    				<div id="featured-post-title-block" class="hidden-phone">
    					<h2 id="featured-post-title">{{ post.title }}</h2>
    					<p>
    						{{ post.content|truncatewords:8 }}
    						<span class="collapse-btn collapsed" data-toggle="collapse" data-target="#featured-post">Read Story</span>
    					</p>
    				</div>
    				<!-- /Featured Post Title Block -->
    			</div>
    			<!-- /container-inner -->
   			</div>
   			<!-- /container -->
    	</div>
    	<!-- /Featured Background Image -->

    	<!-- Featured Background Image Mobile -->
    	<div class="featured-background-mobile visible-phone" style="background-image: url({{ post.image.url }});">
    	</div>
    	<!-- /Featured Background Image Mobile -->

    	<!-- Mobile Featured Title Block Mobile -->
    	<div id="featured-post-title-block-mobile" class="visible-phone">
    		<div class="container">
				<h2 id="featured-post-title-mobile">{{ post.title }} <span class="collapse-btn collapsed" data-toggle="collapse" data-target="#featured-post">Read Story</span></h2>
			</div>
		</div>
		<!-- /Mobile Featured Title Block Mobile -->
		
		<!-- Featured Post -->
		<div id="featured-post" class="collapse row-fluid">
			<div class="container">

				<!-- Article Content -->
				<div class="span8 pull-right">
					<article>
					    <div id="featured-post-text">
					        {{ post.content|markdown }}
					    </div>
						<a class="btn btn-share" rel="popover" data-content='{% include "fragments/share_story.html" %}' data-original-title="Share this story...">
							<i class="icon-share"></i>Share
						</a>
					</article>
				</div>
				<!--/Article Content -->

				<!-- Info Block -->
				<div class="span4 pull-left">
					<aside>
						<h3 class="aside-heading">How we can help</h3>
						<p class="aside-text">Sign up now and about every two weeks we'll post news and stories on your account to help spread the word about the crisis. It's easy, and your voice really has the power to make a difference.</p>
					</aside>
					<aside>
						<h3 class="aside-heading">About Water.org</h3>
						<p class="aside-text">For more than twenty years <a href="http://water.org" target="_blank">Water.org</a> has worked with local partners and communities to solve the water and sanitation crisis. Over 50,000 people have donated their voice to our campaigns that inform and educate others online.</p>
					</aside>
				</div>
				<!--/span4-->

			</div>
			<!--/container-->
		</div>
		<!--/Featured Post-->
	</div>
	<!--/row-fluid-->

	<!-- Donate Ribbon -->
	<a name="emaillink"></a>
	{% if not user.is_authenticated %}
	<div id="donate-ribbon" class="gradient row-fluid">
		<div class="container">
			<h1>Donate Your<br>Voice</h1>
			<!-- Donate Buttons -->
			<div class="row-fluid">
				<div class="connect-right">
					<p>Allow us to post facts and stories on your account to spread the word about the crisis. It's easy and you can make a difference.</p>
	        <a class="btn btn-connect btn-connect-facebook pull-right" href="{% url fbauth %}">
	            <i class="icon-facebook icon-large"></i>
	        </a>
					<a class="btn btn-connect btn-connect-twitter pull-right" href="{% url twauth %}">
	            <i class="icon-twitter icon-large"></i>
	        </a>
		    </div>
    	</div>
      <!-- /Donate Buttons -->
    </div>
	</div>
	{% endif %}
	<!-- /Donate Ribbon -->

	{% if display_profile %}
	    {% include "fragments/profile_ribbon.html" %}
	{% endif %}

		<!-- Joining Ribbon -->
		<div id="joining-ribbon" class="row-fluid ribbon">
			<div class="container">
				<h3>Joining is easy:</h3>
				<!-- Joining Blocks -->
				<div class="row-fluid">
					<div class="span4 joining-block">
						<img src="{{ STATIC_URL }}image/how-to1.png" />
						<p>
							Connect to the Power site using your Facebook or Twitter account.
						</p>
			    </div>
			    <div class="span4 joining-block">
						<img src="{{ STATIC_URL }}image/how-to2.png" />
						<p>
							Every other week or so, we will post a fact or story on your account.
						</p>
			    </div>
			    <div class="span4 joining-block">
						<img src="{{ STATIC_URL }}image/how-to3.png" />
						<p>
							The story shows up in your timeline as if you said it. Your friends join on in.
						</p>
			    </div>
		    </div>
		    	<!-- /Joining Blocks -->
	    </div>
		</div>
		<!-- /Joining Ribbon -->

		<div class="container divider">
			<hr>
		</div>

		<!-- Crisis Ribbon -->
		<div id="crisis-ribbon" class="row-fluid ribbon">
			<div class="container">
				<div class="span7">
					<h2>How does this help solve the water crisis?</h2>
					<p>
						When you tell your social networks about the water crisis, you are helping others become more aware of the challenges associated with not having access to safe water and sanitation. With every new person learning about the water crisis, more people are thinking about solutions, donating money, and working together towards the day when everyone has access to safe water and a toilet. Your voice has the power to make a difference.
					</p>
				</div>
				<div class="span5">
					<img src="{{ STATIC_URL }}image/crisis-ribbon.jpg" alt="Donate Your Voice - Water.org" />
				</div>
	    </div>
		</div>
		<!-- /Crisis Ribbon -->

		<!-- Total Follower Ribbon -->
    <div id="followers-ribbon" class="row-fluid gradient">
        <div class="container">
            <h2>Together our voice is reaching <span>{{ total_followers|intcomma }}</span> people</h2>
        </div>
    </div>
    <!-- /Total Follower Ribbon -->

  <!-- Map Ribbon -->
	<div id="map-ribbon" class="row-fluid ribbon visible-desktop visible-tablet">
		<div class="container">
			
			<!-- Map Stats -->
			<div class="span6">
				<h3>Over 2.5 billion with no place to "go"</h3>

				<div id="map-stats" class="pull-right">
					<h2><span id="map-number">0.58</span> billion<h2>
					<p>without sanitation in: <span>(click a region)</span></p>
					<ul id="map-regions">
						<li class="af">Africa</li>
					</ul>
				</div>
			</div>
			<!-- /Map Stats -->

			<!-- Map Image -->
			<div class="span6">
				<div style="border:0; width: 100%; overflow: hidden; float:left;">
					<img id="world" src="{{ STATIC_URL }}image/sanitation-map-grey.png" usemap="#world-map">
				</div>
				<a class="btn btn-share" rel="popover" data-content='{% include "fragments/share_map.html" %}' data-original-title="Share this...">
					<i class="icon-share"></i>Share
				</a>
				<p class="source-note">
					Map data sourced from <a href="http://www.wssinfo.org/fileadmin/user_upload/resources/1278061137-JMP_report_2010_en.pdf">"Progress on Sanitation and Drinking-Water, 2010 Update."</a> WHO/UNICEF Joint Monitoring Programme for Water Supply and Sanitation.
				</p>
			</div>
			<!-- /Map Image -->

			<!-- Area Map -->
			<map name="world-map" id="world-map">
			  <area shape="poly" coords="0,138,67,137,83,137,114,151,128,149,135,157,150,155,197,132,207,90,228,65,268,83,270,105,267,130,272,133,295,126,304,124,323,134,331,127,332,118,345,113,353,104,340,94,333,82,338,72,333,38,273,77,231,62,245,28,263,8,95,5,3,40,2,137" region="ae" href="#" />
			  <area shape="poly" coords="128,194,123,213,145,239,137,317,194,322,231,218,159,153,133,158,119,153,79,137,94,168,127,194" region="la" href="#" />
			  <area shape="poly" coords="376,186,369,235,340,272,298,271,283,221,248,206,243,147,269,138,303,126,326,135,339,140,357,179,373,178" region="af" href="#" />
			  <area shape="poly" coords="368,34,456,13,588,45,588,67,541,108,507,109,486,94,475,105,447,98,429,105,408,124,419,144,442,146,430,162,418,187,392,185,372,174,360,176,341,140,333,119,351,104,332,84,338,72,334,37" region="wa" href="#" />
			  <area shape="poly" coords="485,291,467,281,458,239,437,210,432,169,432,160,443,145,421,144,410,125,428,104,448,96,472,104,485,94,503,107,521,107,518,138,490,156,499,188,530,204,534,246,560,268,576,271,574,307,532,308" region="ea" href="#" />
			</map>
			<!-- /Area Map -->

    </div>
	</div>
	<!-- /Map Ribbon -->

  <div class="container divider visible-desktop visible-tablet">
		<hr>
	</div>

	<!-- quiz Ribbon -->
	<div id="quiz-ribbon" class="row-fluid ribbon visible-desktop visible-tablet">
		<div class="container">
			<h3>Which invention has saved more lives?</h3>
			<!-- quiz Blocks -->
			<div class="row-fluid">
				<div class="span4 quiz-block">
					<img src="{{ STATIC_URL }}image/multi-choice_17.png" />
					<span class="quiz-alert">
						<i class="quiz-icon icon-thumbs-up"></i>
						<label class="radio">
	  					<input type="radio" name="options" id="optionToilet" value="option1" checked> toilets
						</label>
					</spaN>
					<p>
						<strong>Fact:</strong> No invention has saved more lives than a toilet. In 2007, a poll by the British Medical Journal found that clean water and sanitation comprised the most important medical advancement since 1840.
					</p>
		    </div>
		    <div class="span4 quiz-block">
					<img src="{{ STATIC_URL }}image/multi-choice_19.png" />
					<span class="quiz-alert">
						<i class="quiz-icon icon-remove"></i>
						<label class="radio">
	  					<input type="radio" name="options" id="optionPenicillin" value="option2" checked> penicillin
	  				</label>
  				</span>
					<p>
						<strong>Fact:</strong> Penicillin is a group of antibiotics harvested from fungi. They are the first effective drugs against previously life-threatening illnesses.
					</p>
		    </div>
		    <div class="span4 quiz-block">
					<img src="{{ STATIC_URL }}image/multi-choice_21.png" />
					<span class="quiz-alert">
						<i class="quiz-icon icon-remove"></i>
						<label class="radio">
	  					<input type="radio" name="options" id="optionSeatbelts" value="option2" checked> seatbelts
	  				</label>
  				</span>
					<p>
						<strong>Fact:</strong> The world's first seat belt law was put into place in 1970, in Victoria, Australia, and made wearing a seat belt mandatory for drivers and front-seat passengers.
					</p>
		    </div>
	    </div>
	    	<!-- /quiz Blocks -->
    </div>
	</div>
	<!-- /quiz Ribbon -->

	<div class="container divider visible-desktop visible-tablet">
		<hr>
	</div>

	<!-- Flip Ribbon -->
	<div id="flip-ribbon" class="row-fluid ribbon visible-desktop visible-tablet">
		<!-- Container -->
		<div class="container">
			<h3>How does poop get everywhere?</h3>
			<!-- Card container -->
			<div class="card-container">

				<div class="card scroll">
				    <div class="card-wrapper">
				        <img src="{{ STATIC_URL }}image/flipcard_1.png" />
				        <div class="card-detail">
				            <img src="{{ STATIC_URL }}image/flipcard_1_b.png" />            
				        </div>
				    </div>
				</div>
				<div class="card scroll">
				    <div class="card-wrapper">
				        <img src="{{ STATIC_URL }}image/flipcard_2.png" />
				        <div class="card-detail">
				            <img src="{{ STATIC_URL }}image/flipcard_2_b.png" />       
				        </div>
				    </div>
				</div>
				<div class="card scroll">
				    <div class="card-wrapper">
				        <img src="{{ STATIC_URL }}image/flipcard_3.png" />
				        <div class="card-detail">
				            <img src="{{ STATIC_URL }}image/flipcard_3_b.png" />            
				        </div>
				    </div>
				</div>
				<div class="card scroll">
				    <div class="card-wrapper">
				        <img src="{{ STATIC_URL }}image/flipcard_4.png" />
				        <div class="card-detail">
				            <img src="{{ STATIC_URL }}image/flipcard_4_b.png" />            
				        </div>
				    </div>
				</div>
				<div class="card scroll">
				    <div class="card-wrapper">
				        <img src="{{ STATIC_URL }}image/flipcard_5.png" />
				        <div class="card-detail">
				            <img src="{{ STATIC_URL }}image/flipcard_5_b.png" />            
				        </div>
				    </div>
				</div>

			</div>
			<!-- /Cardcontainer -->
		</div>
		<!-- /Container -->
	</div>
	<!-- /Flip Ribbon -->

	{% if recent_posts.count %}
  <div class="container divider">
		<hr>
	</div>

  <!-- Recent Stories Ribbon -->
	<div id="recent-stories" class="row-fluid ribbon">
		<div class="container">
			<h3>Recent Stories</h3>
			{% for post in recent_posts %}
                <div class="span3 stories-block">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="{% thumbnail post.image 267x150 %}" />
                    </a>
                    <h4><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h4>
                </div>
			{% endfor %}
    </div>
	</div>
	<!-- /Recent Stories Ribbon -->
	{% endif %}

	<!-- Donate Ribbon Small -->
	{% if not user.is_authenticated %}
		<div id="donate-ribbon-small" class="gradient">
			<div class="container">
				<div class="row-fluid">
					<div class="span6">
						<h1>Donate Your Voice</h1>
					</div>
					<div class="connect-right span6">
						<a class="btn btn-connect btn-connect-facebook" href="{% url fbauth %}">
				      <i class="icon-facebook icon-large"></i>
				    </a>
						<a class="btn btn-connect btn-connect-twitter" href="{% url twauth %}">
				      <i class="icon-twitter icon-large"></i>
				    </a>
		    	</div>
	    	</div>
      </div>
		</div>
	{% endif %}
	<!-- Donate Ribbon Small -->

{% endblock %}

{% block footer_scripts %}
{{ block.super }}

	{% if user.is_authenticated and not user.email %}
		<!-- Initiate Ajax Email Form -->
		<script>
		    $(window).load(function() {
		        setTimeout(ajaxFormShow, 500);
		    });
		</script>
		<!-- /Initiate Ajax Email Form -->

		<!-- Validate and Post Email Form -->
		<script>
		    $(document).on("submit", "#email-form", function(e) {
		        clear_form_field_errors($("#ajax-form"));
		        e.preventDefault();
		        var self = $(this),
		            url = self.attr("action"),
		            ajax_req = $.ajax({
		                url: url,
		                type: "POST",
		                data: {
		                    email: self.find("#email").val(),
		                    csrfmiddlewaretoken: self.find("input[name='csrfmiddlewaretoken']").val()
		                },
		                success: function(data, textStatus, jqXHR) {
		                    $("#ajax-form").slideUp("medium");
		                    showSuccess();
		                },
		                error: function(data, textStatus, jqXHR) {
		                    var errors = $.parseJSON(data.responseText);
		                    $.each(errors, function(index, value) {
		                        if (index === "__all__") {
		                            django_message(value[0], "error");
		                        } else {
		                            apply_form_field_error(index, value);
		                        }
		                    });
		                }
		            });
		    });
		</script>
		<!-- /Validate and Post Email Form -->
	{% endif %}

	<!-- Template Javascript Variables -->
	<script>
		var staticURL = '{{ STATIC_URL }}';
		var socialPostDomain = 'http://{{ site.domain }}';
		var socialPostLink = 'http://{{ site.domain }}{{ post.get_absolute_url }}';
		var socialPostTitle = '{{ post.title }}';
		var socialPostTitleEscaped = escape(socialPostTitle);
		var socialPostImage = 'http://{{ site.domain }}{{ post.image.url }}';
		var socialMapImage = 'http://power.water.org/static/image/sanitation-map-red.png';
		var socialMapTitleEscaped = escape('Billions with no place to "go"? Find out where...');
		var socialMapLink = escape('http://{{ site.domain }}/#map-ribbon');
	</script>
	<!-- /Template Javascript Variables -->

{% endblock %}