{% extends "base.html" %}
{% load humanize %}
{% load markup %}
{% load thumbnail %}

{% block body_class %}homepage{% endblock %}

{% block head_extra %}
    {{ block.super }}
    {% if display_profile %}
        <meta property="og:title" content="{{ display_profile.user.get_full_name }}"/>
        <meta property="og:type" content="{{ FACEBOOK_APP_NAMESPACE }}:friend"/>
        {% if display_profile.image %}<meta property="og:image" content="http://{{ site.domain }}{{ display_profile.image.url }}"/>{% endif %}
        <meta property="og:url" content="{{ absolute_uri }}"/>
        <meta property="og:site_name" content="{{ site.name }}"/>
        <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    {% else %}
        <meta property="og:title" content="Water Day"/>
        {% if posts.0.image.url %}<meta property="og:image" content="http://{{ site.domain }}{{ posts.0.image.url }}"/>{% endif %}
        <meta property="og:url" content="{{ absolute_uri }}"/>
        <meta property="og:site_name" content="{{ site.name }}"/>
        <meta property="fb:app_id" content="{{ FACEBOOK_APP_ID }}"/>
    {% endif %}

{% endblock %}

{% block main %}
	<!-- Fullscreen Image and Content -->
	<div id="posts">

			<div id="post-{{ post.pk }}" class="post">

			  <div class="hero area-full">
			  	<div class="container relative">
			  		<div class="hero-text row-fluid">
			  			<div class="span6">
						  	<h1>Will You Join Us?</h1>
						  	<p>
							  Donate your voice to help spread the word about the crisis and we'll post news and stories for you automatically. It's easy. Your voice really has the power to make a difference.
							</p>
						  	<a id="trackJoinEvent" class="small-btn blue-btn" href="{% url twauth %}">SIGN UP</a>
						  	<div id="join-hover" class="visible-desktop">
                  <p>
                  	It only takes a second to sign up and we'll help you share stories about the water crisis on Twitter.
                  </p>
                </div>
						  </div>
				 		</div>
			  	</div>
			  </div>

			  <script>
					desktopImg = 'url({{ post.image.url }})';
			    mobileImg = 'url({{ post.image_mobile.url }})';
		    </script>

			  <!-- Story Toggle -->
			  <div class="story-block">
			    <div class="container">
			    	<div class="row-fluid">
				      <div class="story-toggle span12">
				      	{{ post.teaser }} <span class="story-icon icon-arrow-down"></span>
				      </div>
				    </div>

				    <!-- Featured Post -->
				    <div id="featured-post" class="row-fluid">
			      	<div class="span7">
			      		<h2>{{ post.title }}</h2>
			      		<p>
			      			{{ post.content|markdown }}
			      		</p>
			     		</div>
			     		<!-- Sidebar Content -->
							<div class="span4 offset1 hidden-phone">
								<aside>
								  <h3>About Water.org</h3>
									<p class="aside-text">
										For more than twenty years <a target="_blank" href="http://water.org">Water.org</a> has worked with local partners and communities to solve the water and sanitation crisis. Over 75,000 people have donated their online voice to help inform and educate others online.
									</p>
								</aside>
								<a class="small-btn learn-btn blue-btn" target="_blank" href="http://water.org/">LEARN MORE</a>
							</div>
				    </div>
			    </div>
			  </div>

			</div>
	</div>

	{% if display_profile %}
		<!-- Mobile Profile -->
		<div id="mobile-user-profile" class="row-fluid visible-phone">
			<div class="container">
				<div id="mobile-user-img">
			    {% if display_profile.image %}
			      <img src="{% thumbnail display_profile.image 140x140 crop %}" alt="{{ display_profile.user.get_full_name }}" />
			      <!-- <img src="{{ STATIC_URL }}image/avatar.png" width="140" height="140" /> -->
			    {% else %}
			      <img src="{{ STATIC_URL }}image/avatar.png" width="140" height="140" />
			    {% endif %}
		  	</div>

		  	<h2 class="mobile-profile-name">{{ display_profile.user.get_full_name }}</h2>

		    <h4 class="mobile-profile-heading">and <span>{{ total_followers|intcomma }}</span> others are listening</h4>
	  	</div>
	  </div>
  {% endif %}

  <!-- Mobile Learn -->
	<div id="mobile-learn" class="row-fluid visible-phone backg">
		<div class="container">
			<p class="aside-text">
				For more than twenty years <a target="_blank" href="http://water.org">Water.org</a> has worked with local partners and communities to solve the water and sanitation crisis. Over 50,000 people have donated their voice to our campaigns that inform and educate others online.
			</p>
			<a class="small-btn learn-btn" target="_blank" href="http://water.org/">LEARN MORE</a>
  	</div>
  </div>
{% endblock %}

{% block footer_scripts %}
{{ block.super }}

    <script>
        $(function() {
            $("#join").hover(function() {
                $("#join-hover p").fadeIn();
            }, function() {
                $("#join-hover p").fadeOut();
            });
        });
    </script>

	{% if user.is_authenticated and not user.email %}
		<!-- Initiate Ajax Email Form -->
		<script>
		    $(window).load(function() {
		        setTimeout(ajaxFormShow, 500);
		    });
		</script>

		<!-- Validate and Post Email Form -->
		<script>
		    $(document).on("submit", "#email-form", function(e) {
		        clear_form_field_errors($("#ajax-form"));
		        e.preventDefault();
		        var self = $(this),
		            url = self.attr("action"),
		            ajax_req = $.ajax({
		                url: url,
		                type: "POST",
		                data: {
		                    email: self.find("#email").val(),
		                    csrfmiddlewaretoken: self.find("input[name='csrfmiddlewaretoken']").val()
		                },
		                success: function(data, textStatus, jqXHR) {
		                    $("#ajax-form").slideUp("medium");
		                    showSuccess();
		                },
		                error: function(data, textStatus, jqXHR) {
		                    var errors = $.parseJSON(data.responseText);
		                    $.each(errors, function(index, value) {
		                        if (index === "__all__") {
		                            django_message(value[0], "error");
		                        } else {
		                            apply_form_field_error(index, value);
		                        }
		                    });
		                }
		            });
		    });
		</script>
	{% endif %}

{% endblock %}
