{% extends "base.html" %}

{% block body_class %}homepage{% endblock %}

{% block head_extra %}
    {{ block.super }}
{% endblock %}

{% block main %}
    <div class="row-fluid">
    	<div class="featured-background-image">
    		<div id="main" role="main" class="container">
    			<div id="main-inner" class="container-inner">
    				<div id="featured-post-title-block" class="hidden-phone">
    					<h2 id="featured-post-title">Thirsty for Change? 6 Things You Can Do Right Now <span data-toggle="collapse" data-target="#featured-post">Read Story</span></h2>
    				</div><!--featured-post-title-block-->
    			</div><!--/container-inner-->
   			</div><!--/container-->
    	</div>

    	<div id="featured-post-title-block-mobile" class="visible-phone">
			<h2 id="featured-post-title-mobile">Thirsty for Change? 6 Things You Can Do Right Now <span data-toggle="collapse" data-target="#featured-post">Read Story</span></h2>
		</div><!--featured-post-title-block-->
		
		<div id="featured-post" class="collapse in">
			<div class="container">
				<div class="span4 hidden-phone">
					<aside>
						<h3 class="aside-heading">What is This All About?</h3>
						<p class="aside-text">Sharing your voice is easy. Sign up and we'll post news and stories that support safe water and make a difference.</p>
					</aside>
					<aside>
						<h3 class="aside-heading">The Water Crisis</h3>
						<p class="aside-text">Nearly a billion people scavenge every day for safe water and billions don't have a toilet. <a href="http://water.org/"></a>Learn More &raquo;</a></p>
					</aside>
				</div><!--/span4-->

				<div class="span8">
					<article>
						<!--http://shareaholic.com/publishers/sharing/-->
						<span class="shr_classic shareaholic-show-on-load"></span>
						<p class="share-this"><strong>Share:</strong></p>

						<p id="featured-post-text">
							When we stare facts in the face - 780 million people lack access to an improved water source - it can be easy to feel overwhelmed. However, everyone has a role to play, here are six things you can do right now to help.
							<br><br>
							1. Donate your online voice. Today, most conversations start online so help spread the word by connecting via Facebook or Twitter. You're just one click away - click "Use my Facebook" or "Use Twitter" above.
							<br><br>
							2. Connect with us. We are where you are and we'd love to keep in touch with you on Facebook, Twitter, Pinterest, Instagram, Google+, and GOOD.
							<br><br>
							3. Join the TEAM. Whether you run just stay fit, or are a serious triathlete, connect with others and share you passion.
							<br><br>
							4. Get some swag. Share you support by picking up a Water.org water bottle and help others get safe water.
							Learn about the challenge. The more you know about the problems, the more likely we all are to realize the solutions.
							<br><br>
							5. Change a life. It only takes $25 to give someone water for life. Match the size of your family and give water.
						</p>
					</article>
				</div><!--/span8-->
			</div><!--/container-->
		</div><!--/featured-post-->
	</div><!--/row-fluid-->
{% endblock %}

{% block user_ribbon %}
	<div id="user-ribbon" class="row-fluid">
		<div class="span2 user-img">
			
		</div>
	</div>
{% endblock %}