<div class="clearfix">
    <div class="next-button">
        <a id="trackFacebookInviteEvent" href="#">
            <img class="next-button-img" src="{{ STATIC_URL }}/image/ie/facebook.png" />
            Invite Friends
        </a>
    </div>
    <div class="next-button">
        <a id="trackPhotoScrollEvent" href="#">
            <img class="next-button-img" src="{{ STATIC_URL }}/image/ie/camera.png" />
            Share a Photo
        </a>
    </div>
    <div class="next-button">
        <a id="trackLearnEvent" class="external" href="http://water.org/">
            <img class="next-button-img" src="{{ STATIC_URL }}/image/ie/water.png" />
            Learn More
        </a>
    </div>
</div>