<div class="clearfix">
    <div class="next-button">
        <a id="trackFacebookInviteEvent" href="#">
            <span class="icon-facebook next-icon"></span>
            Invite Friends
        </a>
    </div>
    <div class="next-button">
        <a id="trackPhotoScrollEvent" href="#">
            <span class="icon-camera-retro next-icon"></span>
            Share a Photo
        </a>
    </div>
    <div class="next-button">
        <a id="trackLearnEvent" class="external" href="http://water.org/">
            <span class="icon-tint next-icon"></span>
            Learn More
        </a>
    </div>
</div>