{% load humanize %}
{% load thumbnail %}

<!-- User Ribbon -->
<div id="user-container" class="hidden-phone">
	<div id="user-img" class="pull-left">
	  {% if display_profile.image %}
		    <img class="media-object" src="{% thumbnail display_profile.image 60x60 crop %}" alt="{{ display_profile.user.get_full_name }}" />
		{% else %}
		    <img class="media-object" src="{{ STATIC_URL }}image/avatar.png" width="140" height="140" />
		{% endif %}
	</div>
	<h4 class="profile-heading">{{ display_profile.user.get_full_name }} and <span>{{ total_followers|intcomma }}</span> others are listening</h4>
</div>
	<!-- /User Container -->