<div id="social-btns">

	<a class="btn-social" href="#" onclick="trackQuizFacebook();shareQuizFacebook();return false;">
		<i class="icon-facebook icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackQuizTwitter();shareQuizTwitter();return false;">
		<i class="icon-twitter icon-large"></i>
	</a>

	<a class="btn-social pin-it-button" href="#" count-layout="horizontal" onclick="trackQuizPinterest();shareQuizPinterest();return false;">
		<i class="icon-pinterest icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackQuizGooglePlus();shareQuizGooglePlus();return false;">
		<i class="icon-google-plus icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackQuizLinkedIn();shareQuizLinkedIn();return false;">
		<i class="icon-linkedin icon-large"></i>
	</a>

</div>