<div id="social-btns">

	<a class="btn-social" href="#" onclick="trackStoryFacebook();shareStoryFacebook();return false;">
		<i class="icon-facebook icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackStoryTwitter();shareStoryTwitter();return false;">
		<i class="icon-twitter icon-large"></i>
	</a>

	<a class="btn-social pin-it-button" href="#" count-layout="horizontal" onclick="trackStoryPinterest();shareStoryPinterest();return false;">
		<i class="icon-pinterest icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackStoryGooglePlus();shareStoryGooglePlus();return false;">
		<i class="icon-google-plus icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackStoryLinkedIn();shareStoryLinkedIn();return false;">
		<i class="icon-linkedin icon-large"></i>
	</a>

</div>