<div id="social-btns">

	<a class="btn-social" href="#" onclick="trackCardsFacebook();shareCardsFacebook();return false;">
		<i class="icon-facebook icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackCardsTwitter();shareCardsTwitter();return false;">
		<i class="icon-twitter icon-large"></i>
	</a>

	<a class="btn-social pin-it-button" href="#" count-layout="horizontal" onclick="trackCardsPinterest();shareCardsPinterest();return false;">
		<i class="icon-pinterest icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackCardsGooglePlus();shareCardsGooglePlus();return false;">
		<i class="icon-google-plus icon-large"></i>
	</a>

	<a class="btn-social" href="#" onclick="trackCardsLinkedIn();shareCardsLinkedIn();return false;">
		<i class="icon-linkedin icon-large"></i>
	</a>

</div>