/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.hidden-mobile {
	display: block;
}
.visible-mobile {
	display: none;
}

body {
	background: #EBEBEB;
}

.alert-ajax {
	background: black;
	color: #dadada;
}

#ajax-form {
	text-align: center;
	padding-top: 20px;
}

#ajax-form .control-label {
	margin-right: 10px;
}

.navbar {
	margin-bottom: 0px;
	overflow: hidden;
}

.navbar-inverse .navbar-inner {
	background: #3aa9dd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiMzYWE5ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiMwMDMwNjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #3aa9dd 12%, #003067 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(12%,#3aa9dd), color-stop(87%,#003067)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* IE10+ */
	background: linear-gradient(to right,  #3aa9dd 12%,#003067 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa9dd', endColorstr='#003067',GradientType=1 ); /* IE6-8 */
	border-bottom: 1px solid #003067;
	box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}

.navbar-inner {
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.navbar-inverse .navbar-inner .brand {
	width: 140px;
	height: auto;
}

.btn-connect {
	background: transparent;
	box-shadow: inset 0px 0px 8px rgba(255,255,255,0.2);
	color: white;
	text-shadow: 0px 0px 2px black;
	padding: 7px 14px;
	padding-left: 38px;
	top: 8px;
	margin-right: 10px;
	position: relative;
	overflow: hidden;
	border: 1px solid #032051;
	display: block;
	height: 20px;
	font-size: 120%;
}

.btn-connect:hover {
	background: transparent;
	box-shadow: inset 0px 0px 8px rgba(255,255,255,0.4);
	color: white;
	text-shadow: 0px 0px 2px black;
}

.btn-connect:active {
	background: transparent;
	box-shadow: inset 0px 0px 8px rgba(0,0,0,0.8);
	border: 1px solid #032051;
	color: white;
	text-shadow: 0px 0px 2px black;
}

.btn-connect-facebook:after {
	content: "with Facebook";
}

.btn-connect-twitter:after {
	content: "with Twitter";
}

.btn-connect-facebook i{
	font-size: 200%;
	position: absolute;
	bottom: 8px;
	left: 12px;
	text-shadow: 0px 0px 2px black, 1px 1px 0px rgba(0,0,0,0.6);
}

.btn-connect-twitter i{
	font-size: 180%;
	position: absolute;
	bottom: 12px;
	left: -8px;
	text-shadow: 0px 0px 2px black, 1px 1px 0px rgba(0,0,0,0.6);
}

.featured-background-image {
	width: 100%;
	height: 440px;
	transition: height 0.4s linear;
	-webkit-transition: height 0.4s linear;
	-mos-transition: height 0.4s linear;
	-o-transition: height 0.4s linear;
}

#main-inner {
	position: relative;
	height: 440px;
}

#featured-post-title-block {
	position: absolute;
	background: rgba(0,0,0,0.6);
	bottom: 0;
	right: 0;
	width: 62%;
	padding: 0 2%;
	text-shadow: 2px 2px 2px black;
}

h2#featured-post-title {
	color: white;
	font-size: 240%;
}

h2#featured-post-title span {
	font-size: 50%;
	color: #DE001B;
	padding-left: 6px;
	font-weight: normal;
	text-transform: none;
	cursor: pointer;
}

h2#featured-post-title span:after {
	content: "+";
	padding-left: 6px;
	font-size: 120%;
}

#featured-post-title-block-mobile {
	background: rgba(0,0,0,0.9);
	width: 100%;
	padding: 0;
	text-shadow: 1px 1px 1px black;
}

h2#featured-post-title-mobile {
	color: white;
	font-size: 140%;
	margin: 0;
	line-height: 1.2;
	padding: 2%;
}

h2#featured-post-title-mobile span {
	font-size: 90%;
	color: #DE001B;
	padding-left: 6px;
	font-weight: normal;
	text-transform: none;
	cursor: pointer;
}

h2#featured-post-title-mobile span:after {
	content: "+";
	padding-left: 6px;
	font-size: 120%;
}

p {
	font-size: 18px;
	line-height: 1.4;
	text-shadow: 1px 1px 1px white;
}

#featured-post .container {
	position: relative;
	padding: 30px 0;
}

p#featured-post-text {
	margin: 60px 0 0;
}

#featured-post aside {
	width: 80%;
	color: #ABABAB;
	border-bottom: 2px dotted #DDDDDD;
}

h3.aside-heading {
	color: #3AA9DD;
	text-shadow: 1px 1px 1px white;
}

p.share-this {
	position: absolute;
	top: 34px;
	right: 132px;
}

.shr_classic {
	position: absolute;
	top: 16px;
	right: 20px;
}

/* ===================== */
/* Member Ribbon Queries */
/* ===================== */

#user-ribbon {
	background: #363636;
	color: white;
}

#settings-form {

}

#settings-form label {
	width: 86px;
}

#settings-form label.checkbox-label {
	width: 146px;
}

#settings-form input[type="checkbox"] {
	vertical-align: top;
	margin-right: 6px;
}




/* ============= */
/* Media Queries */
/* ============= */

/* Large desktop */
@media (min-width: 1200px) {
	.featured-background-image {
		height: 540px;
	}
	#main-inner {
		height: 540px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		margin-bottom: 0px;
		padding: 0 25px;
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	.featured-background-image {
		height: 340px;
		margin-top: 0px;
	}
	.featured-background-image .container {
		width: 100%;
	}
	#main-inner {
		height: 340px;
	}
	#featured-post-title-block {
		width: 96%;
	}
	h2#featured-post-title {
		font-size: 140%;
	}
	h2#featured-post-title span {
		font-size: 80%;
	}
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	.container {
		width: 96%;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-right: 0px;
		margin-left: 0px;
	}
	.btn-connect-facebook:after {
		content: "";
	}

	.btn-connect-twitter:after {
		content: "";
	}
	.featured-background-image {
		height: 220px;
	}
	#main-inner {
		height: 220px;
	}
	p#featured-post-text {
		margin: 30px 0 0;
		padding: 0;
	}
	p.share-this {
		top: 15px;
		right: 132px;
	}
	.shr_classic {
		top: -3px;
		right: 20px;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.hidden-mobile {
		display: none;
	}
	.visible-mobile {
		display: block;
	}
	.navbar-inverse .navbar-inner {
		padding: 0px 10px;
	}
	.navbar-inverse .navbar-inner .brand {
		width: 100px;
	}
	p.connect-with {
		margin-top: 8px;
		font-size: 80%;
	}
	.btn-connect {
		top: 1px;
		padding-left: 24px;
	}
	.featured-background-image {
		height: 140px;
	}
	#main-inner {
		height: 140px;
	}
	h2#featured-post-title-mobile {
		font-size: 120%;
	}
	h2#featured-post-title-mobile span {
		font-size: 90%;
	}
}