/*

==================================================================
				  _    _    _    _    _    _    _    _    _  
				 / \  / \  / \  / \  / \  / \  / \  / \  / \ 
				( w )( a )( t )( e )( r )( . )( o )( r )( g )
				 \_/  \_/  \_/  \_/  \_/  \_/  \_/  \_/  \_/ 

==================================================================

Colores:

Pink ========	CE4449
Pink:hover == AC1636
Light Blue == 3aa9dd
Dark Blue === 003067
Even Darker = 02173A
Cream ======= E9F1DF

*/

.hidden-mobile {
	display: block;
}
.visible-mobile {
	display: none;
}

/*video {
    width: 100%;
    height: auto;
  }*/

body {
	background: white;
}

.container {
	overflow: hidden;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Lora', serif;
	letter-spacing: 1px;
	font-weight: bold;
}

p {
	font-weight: 400;
}

a { 
	color: #CE4449;
}

a:hover {
	color: #AC1636;
	text-decoration: none;
}

.divider {
	margin: 0 auto;
}

.divider hr {
	border: 1px solid #f0f0f0;
	box-shadow: 0px 2px 12px rgba(0,0,0,0.2);
}


/*  
==================================================================
        EMAIL FORM STYLES
==================================================================
*/
.alert-ajax {
	position: fixed;
	width: 104%;
	top: 0;
	background: #CE4449;
	color: white;
	font-weight: 600;
	z-index: 99999;
	box-shadow: 2px 4px 2px rgba(0,0,0,0.4);
}

#email-form {
    margin: 0;
}

#ajax-form {
	text-align: center;
	padding-top: 15px;
	padding-bottom: 0px;
}

#ajax-form .container, #ajax-success .container {
	position: relative;
	overflow: visible;
}

#ajax-form .control-label {
	margin-right: 10px;
	font-size: 120%;
	padding-bottom: 3px;
	padding-top: 5px;
}

#ajax-form #email {
	margin-right: 10px;
	background: #A86437;
	border: 1px solid #814525;
	border-radius: 3px;
	color: white;
	opacity: 0.8;
	padding: 2px 6px 4px;
}

#ajax-form .btn {
	border-radius: 3px;
	border: 1px solid #814525;
}

span.alert-error {
	position: absolute;
	top: -13px;
	left: 50%;
	margin-left: -100px;
	text-shadow: 1px 1px 0px rgba(255,255,255,0.4);
	color: #814525;
	background: none;
}

span.alert-error:before {
	content: "*";
}

a.close {
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 180%;
}

#ajax-success p {
	width: 100%;
	padding: 20px 0 10px;
	text-align: center;
	text-shadow: none;
	font-weight: 600;
}



/*  
==================================================================
        NAVBAR AND POST STYLES
==================================================================
*/
.navbar {
	margin-bottom: 0px;
	overflow: hidden;
	/*position: absolute;*/
	box-shadow: 2px 4px 2px rgba(0,0,0,0.4);
}

.gradient, .navbar-inverse .navbar-inner {
	background: #3aa9dd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiMzYWE5ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiMwMDMwNjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #3aa9dd 12%, #003067 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(12%,#3aa9dd), color-stop(87%,#003067)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* IE10+ */
	background: linear-gradient(to right,  #3aa9dd 12%,#003067 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa9dd', endColorstr='#003067',GradientType=1 ); /* IE6-8 */
	border-bottom: 1px solid #02173A;
	border-top: 1px solid #02173A;
}

.navbar-inverse .navbar-inner {
	box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
}

.navbar-inner {
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.navbar .container {
	width: 940px;
}

.navbar-inverse .navbar-inner .brand {
	width: 167px;
	height: auto;
	padding: 6px 0 4px;
	margin: 0;
}

.featured-background-image {
	width: 100%;
	height: 440px;
	transition: height 0.4s linear;
	-webkit-transition: height 0.4s linear;
	-mos-transition: height 0.4s linear;
	-o-transition: height 0.4s linear;
}

#main-inner {
	position: relative;
	height: 440px;
}

#featured-post-title-block {
	position: absolute;
	background: rgba(0,0,0,0.6);
	bottom: 0;
	right: 0;
	width: 62%;
	padding: 0 2%;
	text-shadow: 1px 1px 2px black;
}

h2#featured-post-title {
	color: white;
	font-size: 220%;
	font-weight: 400;
}

#featured-post-title-block {
	position: absolute;
	background: rgba(0,0,0,0.7);
	bottom: 60px;
	right: 0;
	width: 62%;
	padding: 2% 4%;
	text-shadow: 2px 2px 2px black;
}

#featured-post-title-block p {
	font-style: italic;
	text-shadow: 1px 1px 1px black;
	color: #dadada;
}

#featured-post-title-block p span {
	font-size: 100%;
	font-style: normal;
	color: #CE4449;
	padding-left: 6px;
	font-weight: normal;
	text-transform: none;
	cursor: pointer;
}

.collapse-btn:after {
	content: " [ - ]";
}

.collapsed:after {
	content: " [ + ]";
}

#featured-post-title-block-mobile {
/*	background: #363636 url(../image/stats_bg.gif);
*/	
	background: #232323;
	width: 100%;
	padding: 0;
	text-shadow: 1px 1px 1px black;
	border-top: 3px solid #232323;
}

h2#featured-post-title-mobile {
	color: white;
	font-size: 180%;
	margin: 0;
	line-height: 1.2;
	font-weight: 400;
	padding: 20px 0 24px;
	text-shadow: 1px 1px 1px black;
	text-align: left;
}

h2#featured-post-title-mobile span {
	font-size: 60%;
	font-style: normal;
	color: #CE4449;
	display: block;
	padding-left: 0;
	margin-top: 8px;
	font-family: 'Helvetica', sans-serif;
	text-transform: none;
	cursor: pointer;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.6);
}

h2#featured-post-title-mobile span:active {
	color: #343434;
}

h2#featured-post-title-mobile .collapse-btn:after {
	content: " [-]";
}

h2#featured-post-title-mobile .collapsed:after {
	content: " [+]";
}

p {
	font-size: 18px;
	line-height: 1.4;
	text-shadow: 1px 1px 1px white;
}

#featured-post {
	background: url(../image/gradient.png) top repeat-x;
	/*border-top: 3px solid #3AA9DD;*/
}

#featured-post .container {
	position: relative;
	padding: 40px 0 60px;
}

#featured-post-text p {
	margin: 16px 0 0;
	text-shadow: 1px 1px 1px white;
}

#featured-post aside {
	width: 80%;
	color: #747474;
	border-bottom: 2px dotted #DDDDDD;
	text-shadow: 1px 1px 1px white;
}

#featured-post aside:last-child {
	border-bottom: none;
}

h3.aside-heading {
	color: #3AA9DD;
	text-shadow: 1px 1px 1px white;
}



/*  
==================================================================
        CONNECT BUTTON STYLES
==================================================================
*/
.btn-connect {
	background: url(../image/btn-connect-bg.png) top right;
	color: #545454;
	text-shadow: 0 0 2px white;
	padding: 10px 14px 10px 18px;
	line-height: 1;
	top: 5px;
	position: relative;
	border: 1px solid #1F4860;
	font-weight: 600;
	font-size: 120%;
	box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 2px rgba(0,0,0,0.3);
}

.btn-connect i {
	font-size: 120%;
}

.btn-connect:hover {
	background: url(../image/btn-connect-bg.png) top right;
	box-shadow: inset 0px 0px 40px rgba(255,255,255,0.2), inset 0px 0px 4px rgba(255,255,255,0.4);
	text-shadow: 0px 0px 2px rgba(255,255,255,0.8);
	color: #1F4860;
}

.btn-connect:active {
	background: url(../image/btn-connect-bg.png) top right;
	box-shadow: inset 0px 0px 40px rgba(93,77,65,0.2), inset 0px 0px 4px rgba(93,77,65,0.2);
	text-shadow: 0px 0px 2px rgba(255,255,255,0.8);
	border: 1px solid #102531;
}

.btn-connect-facebook:before {
	content: "Connect with Facebook";
	padding-right: 44px;
}

.btn-connect-twitter:before {
	content: "Connect with Twitter";
	padding-right: 54px;
	padding-left: 13px;
}

.btn-connect-facebook i {
	position: absolute;
	bottom: 10px;
	right: 14px;
}

.btn-connect-twitter i {
	position: absolute;
	bottom: 12px;
	right: 18px;
}

.navbar .btn-connect {
	margin-right: 10px;
}

.btn-connect-signout {

}

.btn-connect-signout:before {
	content: "Sign out";
	padding-right: 46px;
}

.btn-connect-signout i {
	position: absolute;
	bottom: 8px;
	right: 12px;
	font-size: 100%;
}

.navbar .btn-connect-twitter {
	margin-right: 0;
	top: 3px;
}


/*  
==================================================================
        SOCIAL BUTTON STYLES
==================================================================
*/
.btn-share i {
	padding-right: 8px;
	margin-top: 3px;
	line-height: 1;
	font-size: 100%;
	background-image: none;
}

.btn-share {
	font-size: 100%;
	margin-top: 28px;
	line-height: 1;
	padding: 8px 14px 8px;
}

#social-btns {
	padding-left: 28px;
}

.btn-social {
	margin-right: 10px;
}

#social-btns .icon-twitter {
	margin-left: -8px;
}

.btn-social i:hover, .btn-social:hover {
	text-decoration: none;
	border-bottom: none;
}


/*  
==================================================================
        MEMBER RIBBON STYLES
==================================================================
*/
#user-ribbon {
	background: #363636 url(../image/stats_bg.gif);
	color: white;
	text-shadow: 2px 2px 1px black;
	border-top: 3px solid #232323;
}

#user-ribbon .container {
	position: relative;
}

#user-img {
	border-radius: 50%;
	border: 2px solid #E9F1DF;
}

#stats-container {
	padding: 40px 0 40px;
	min-height: 180px;
}

.table th, .table td {
    padding: 0 20px 0 0;
    line-height: inherit;
    text-align: left;
    vertical-align: top;
    border: none;
}

#user-ribbon h3 {
	font-size: 480%;
	line-height: 1;
	color: #CE4449;
	text-shadow: 2px 2px 0px #232323;
}

#user-ribbon h4 {
	padding-top: 0;
	color: #dadada;
}

#user-ribbon h2 {
	font-size: 280%;
	padding-top: 17px;
	line-height: 1.0;
}

#user-ribbon p {
	text-shadow: 1px 1px 0px black;
}

#user-settings {
	position: absolute;
	bottom: 2px;
	background: transparent;
	width: 100%;
	z-index: 99999;
}

.settings-link {
	height: 30px;
	background: transparent;
	border: none;
}

.settings-link .btn-settings {
	line-height: 2;
	padding: 10px;
	color: white;
	min-width: 140px;
	font-weight: 600;
	background: #CE4449;
	cursor: pointer;
	text-shadow: 1px 1px 0px #232323;
}

.btn-settings:hover {
	color: white;
	text-decoration: none;
}

#settings-container  {
	background: #252525;
}

#settings-form {
	padding: 20px 40px;
}

#settings-form .fieldWrapper {
	margin: 10px 0;
}

#settings-form .fieldWrapperCheckbox {
	margin: 12px 0 0;
}

#settings-form label {
	text-align: right;
}

#settings-form label.checkbox-label {
	text-align: left;
}

#settings-form input[type="checkbox"] {
	vertical-align: top;
	margin-right: 6px;
	padding-left: 0px;
}

#settings-form input[type="submit"] {
	margin: 0;
}



/*  
==================================================================
        DONATE RIBBON STYLES
==================================================================
*/
#donate-ribbon {
	padding: 20px 0 12px;
}

#donate-ribbon .btn-connect-facebook {
	margin-right: 30px;
}

#donate-ribbon h1 {
	font-size: 400%;
	line-height: 1.1;
	float: left;
	padding: 0 0 10px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0px #02173A;
}

#donate-ribbon p {
	font-weight: 300;
	margin-top: 32px;
	text-align: left;
	color: white;
	text-shadow: 1px 1px 0px #02173A;
}

.connect-right {
	float: right;
	margin: 0;
	padding: 0;
/*	text-align: left;
*/	width: 60%;
}

.connect-right .btn-connect {
	float: left;
	margin: 0;
	border: 1px solid #02173A;
}

.connect-right .btn-connect-facebook:before {
	content: "Use Facebook";
}

/*.connect-right .btn-connect-twitter {
	margin-left: 20px;
}*/

.connect-right .btn-connect-twitter:before {
	content: "Use Twitter";
}


/*  
==================================================================
        FOLLOWERS RIBBON STYLES
==================================================================
*/
#followers-ribbon {
	margin: 40px 0 20px;
	padding: 30px 0 20px;
}

#followers-ribbon h2 {
	font-size: 240%;
	line-height: 1.4;
	padding: 0 0 10px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0px #02173A;
}

#followers-ribbon h2 span {
	color: #CE4449;
	font-size: 140%;
	line-height: .8;
}



/*  
==================================================================
        DONATE RIBBON SMALL STYLES
==================================================================
*/
#donate-ribbon-small {
	margin-top: 40px;
	padding: 30px 0 20px;
}

#donate-ribbon-small .container {
	position: relative;
}

#donate-ribbon-small h1 {
	font-size: 240%;
	line-height: 1.1;
	float: left;
	padding: 0 0 10px;
	text-align: center;
	color: white;
	text-shadow: 2px 2px 0px #02173A;
}

#donate-ribbon-small .connect-right {
	
}

#donate-ribbon-small .connect-right .btn-connect {
	float: left;
	margin-left: 2%;
	margin-top: 8px;
}



/*  
==================================================================
        JOINING RIBBON STYLES
==================================================================
*/
.ribbon {
	padding: 40px 0 40px;
	background: white;
}

#joining-ribbon h3 {
	margin-top: 0;
	padding-top: 0;
	font-size: 220%;
}

.joining-block {
	margin-top: 20px;
}

.joining-block img {
	width: 68%;
	height: auto;
	margin-left: 16%;
}

.joining-block p {
	margin-top: 20px;
	margin-left: 16%;
	color: #747474;
}


/*  
==================================================================
        CRISIS RIBBON STYLES
==================================================================
*/
#crisis-ribbon {
	padding-top: 50px;
	background: url(../image/gradient.png) top left repeat-x;
}

#crisis-ribbon h2 {
	font-size: 280%;
	width: 80%;
	line-height: 1.2;
}

#crisis-ribbon p {
	margin-top: 30px;
	margin-left: 16%;
	color: #747474;
}

#crisis-ribbon img {
	margin-top: 26px;
	width: 80%;
	height: auto;
	margin-left: 10%;
	border: 1px solid #747474;
	margin-bottom: 40px;
}



/*  
==================================================================
        MAP RIBBON STYLES
==================================================================
*/
.lt-ie9 #map-ribbon, .lt-ie9 .map-divider {
	display: none;
}

.lt-ie8 #map-ribbon, .lt-ie8 .map-divider {
	display: none;
}

#map-ribbon h3 {
	font-size: 220%;
	margin-bottom: 40px;
}

#map-stats {
	width: 80%;
}

#map-number {
	font-size: 340%;
	font-weight: bold;
	color: #3AA9DD;
	font-family: 'Helvetica', sans-serif;
}

#map-ribbon p {
	font-weight: 400;
	font-family: 'Helvetica', sans-serif;
}

#map-ribbon p span {
	color: #747474;
}

#map-ribbon ul {
	font-weight: 600;
	font-size: 60%;
	font-family: 'Helvetica', sans-serif;
	list-style: none;
	padding: 0;
	margin: 0;
}

p.source-note {
	padding-top: 20px;
	font-size: 80%;
	color: #747474;
}


/*  
==================================================================
        FLIP RIBBON STYLES
==================================================================
*/
#flip-ribbon {
	padding-bottom: 80px;
}

#flip-ribbon h3 {
	font-size: 220%;
	margin-bottom: 60px;
}

.card-container {
	width: 90%;
	padding: 0 5%;
	float: none;
	display: block;
}

.card {
	display: block;
	width: 165px;
	height: 165px;
	position: relative;
	float: left;
}

.card-wrapper {
	display: block;
	width: 100%;
	height: 100%;
}

.card img {
	width: 100%;
	height: 100%;
	position: absolute;
	display: block;
}

.card .card-detail {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	background: #fff;
}

.card.scroll {
	overflow: hidden;
}

.card.scroll .card-detail {
	bottom: -165px;
}

.card.flip {
	perspective: 800px;
	-webkit-perspective: 800px;
	-moz-perspective: 800px;
}

.card.flip .card-wrapper {
	-webkit-transition: -webkit-transform 1s;
	transition: transform 1s;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.card.flip .card-detail {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}

.card.flip img,.card.flip .card-detail {
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
}

.card.flip .flipIt {
	-webkit-transform: rotateX(-180deg);
	-moz-transform: rotateX(-180deg);
	-o-transform: rotateX(-180deg);
	-ms-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}


/*  
==================================================================
        RECENT STORY STYLES
==================================================================
*/
#recent-stories {
	padding: 40px 0;
}

#recent-stories h3 {
	font-size: 220%;
}

#recent-stories .span3 {
    width: 22%;
}

#recent-stories h4 a {
	color: #3AA9DD;
}

#recent-stories h4 a:hover {
	text-decoration: underline;
}


/*  
==================================================================
        FOOTER STYLES
==================================================================
*/
#footer-base-wrap { padding-top: 20px; padding-bottom: 10px; background: #ededed url(../image/gradient.png) top left repeat-x;}
#footer-base-wrap a { font-weight: bold; }
#footer-base-wrap p { font-size: 14px; line-height: 21px; }