/* ==========================================================================
   Author's custom styles
   ========================================================================== */
.hidden-mobile {
	display: block;
}
.visible-mobile {
	display: none;
}

body {
	background: white;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Century Gothic, sans-serif;
	letter-spacing: 2px;
	font-weight: bold;
}

.divider {
	margin: 40px auto;
}

.divider hr {
	box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
}

.alert-ajax {
	background: black;
	color: #dadada;
}

#ajax-form {
	text-align: center;
	padding-top: 20px;
}

#ajax-form .control-label {
	margin-right: 10px;
}

.navbar {
	margin-bottom: 0px;
	overflow: hidden;
	/*position: absolute;*/
}

.gradient, .navbar-inverse .navbar-inner {
	background: #3aa9dd; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxMiUiIHN0b3AtY29sb3I9IiMzYWE5ZGQiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NyUiIHN0b3AtY29sb3I9IiMwMDMwNjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(left,  #3aa9dd 12%, #003067 87%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(12%,#3aa9dd), color-stop(87%,#003067)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #3aa9dd 12%,#003067 87%); /* IE10+ */
	background: linear-gradient(to right,  #3aa9dd 12%,#003067 87%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3aa9dd', endColorstr='#003067',GradientType=1 ); /* IE6-8 */
	border-bottom: 1px solid #003067;
}

.navbar-inverse .navbar-inner {
	box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 4px 6px rgba(0,0,0,0.3);
	/*background: transparent;*/
}

.navbar-inner {
	border-radius: 0px;
	-webkit-border-radius: 0px;
}

.navbar .container {
	width: 940px;
}

.navbar-inverse .navbar-inner .brand {
	width: 140px;
	height: auto;
}

.featured-background-image {
	width: 100%;
	height: 440px;
	transition: height 0.4s linear;
	-webkit-transition: height 0.4s linear;
	-mos-transition: height 0.4s linear;
	-o-transition: height 0.4s linear;
}

#main-inner {
	position: relative;
	height: 440px;
}

#featured-post-title-block {
	position: absolute;
	background: rgba(0,0,0,0.6);
	bottom: 0;
	right: 0;
	width: 62%;
	padding: 0 2%;
	text-shadow: 1px 1px 2px black;
}

h2#featured-post-title {
	color: white;
	font-size: 240%;
}

h2#featured-post-title span {
	font-size: 50%;
	color: #DE001B;
	padding-left: 6px;
	font-weight: normal;
	text-transform: none;
	cursor: pointer;
}

h2#featured-post-title span:after {
	content: "+";
	padding-left: 6px;
	font-size: 120%;
}

#featured-post-title-block-mobile {
	background: rgba(0,0,0,0.9);
	width: 100%;
	padding: 0;
	text-shadow: 1px 1px 1px black;
}

h2#featured-post-title-mobile {
	color: white;
	font-size: 140%;
	margin: 0;
	line-height: 1.2;
	padding: 2%;
}

h2#featured-post-title-mobile span {
	font-size: 90%;
	color: #DE001B;
	padding-left: 6px;
	font-weight: normal;
	text-transform: none;
	cursor: pointer;
}

h2#featured-post-title-mobile span:after {
	content: "+";
	padding-left: 6px;
	font-size: 120%;
}

p {
	font-size: 18px;
	line-height: 1.4;
	text-shadow: 1px 1px 1px white;
}

#featured-post {
	background: url(../image/gradient.png) top repeat-x;
}

#featured-post .container {
	position: relative;
	padding: 20px 0 60px;
}

p#featured-post-text {
	margin: 60px 0 0;
	text-shadow: 1px 1px 1px white;
}

#featured-post aside {
	width: 80%;
	color: #ABABAB;
	border-bottom: 2px dotted #DDDDDD;
	text-shadow: 1px 1px 1px white;
}

h3.aside-heading {
	color: #3AA9DD;
	text-shadow: 1px 1px 1px white;
}



/* ===================== */
/* Connect Button Styles */
/* ===================== */

.btn-connect {
	background: url(../image/button.png) top right;
	box-shadow: inset 0px 0px 4px white;
	color: #323232;
	text-shadow: 1px 1px 0px white;
	padding: 12px 14px 12px 18px;
	line-height: 1;
	top: 4px;
	position: relative;
	border: 1px solid #06275f;
	font-weight: bold;
	font-size: 120%;
}

.btn-connect i {
	font-size: 120%;
}

.btn-connect:hover {
	background: url(../image/button.png) top right;
	box-shadow: inset 0px 0px 40px white, inset 0px 0px 4px white;
	text-shadow: 1px 1px 0px white;
	color: #323232;
}

.btn-connect:active {
	background: url(../image/button.png) top right;
	box-shadow: inset 0px 0px 40px rgba(0,0,0,0.2), inset 0px 0px 4px rgba(0,0,0,0.4);
	text-shadow: 1px 1px 0px white;
	border: 1px solid #06275f;
	color: #323232;
}

.btn-connect-facebook:before {
	content: "Connect with Facebook";
	padding-right: 42px;
}

.btn-connect-twitter:before {
	content: "Connect with Twitter";
	padding-right: 54px;
	padding-left: 13px;
}

.btn-connect-facebook i{
	position: absolute;
	bottom: 8px;
	right: 16px;
}

.btn-connect-twitter i{
	position: absolute;
	bottom: 10px;
	right: 8px;
}

.navbar .btn-connect {
	margin-right: 10px;
}

#donate-ribbon .btn-connect-facebook {
	margin-right: 30px;
}


/* ==================== */
/* Member Ribbon Styles */
/* ==================== */

#user-ribbon {
	background: #363636;
	color: white;
	text-shadow: 1px 1px 0px black;
	height: 200px;
}

#user-ribbon .container {
	position: relative;
}

#stats-container {
	padding: 40px 0;
}

#user-ribbon {

}

#user-ribbon h2 {

}

#user-ribbon p {
	text-shadow: 1px 1px 0px black;
}

.btn-share i {
	padding-right: 8px;
	margin-top: 5px;
	line-height: 1;
	font-size: 100%;
}

.btn-share {
	font-size: 100%;
	margin-top: 18px;
	line-height: 1;
	padding: 4px 14px 8px;
}

#user-settings {
	position: absolute;
	top: 200px;
	background: #252525;
	width: 100%;
	z-index: 9999;
	box-shadow: 0px 2px 4px rgba(0,0,0,0.4);
}

.settings-link {
	height: 30px;
}

.settings-link .btn-settings {
	line-height: 2;
	margin: 10px;
	padding-bottom: 10px;
	color: white;
	text-shadow: 1px 1px 1px black;
	cursor: pointer;
}

.btn-settings:hover {
	color: white;
	text-decoration: none;
}

#settings-form {
	padding: 20px 40px;
}

#settings-form .fieldWrapper {
	margin: 10px 0;
}

#settings-form .fieldWrapperCheckbox {
	margin: 12px 0 0;
}

#settings-form label {
	text-align: right;
}

#settings-form label.checkbox-label {
	text-align: left;
}

#settings-form input[type="checkbox"] {
	vertical-align: top;
	margin-right: 6px;
	padding-left: 0px;
}

#settings-form input[type="submit"] {
	margin: 0;
}



/* ==================== */
/* Donate Ribbon Styles */
/* ==================== */

#donate-ribbon {
	padding: 40px 0 20px;
}

#donate-ribbon h1 {
	font-weight: 100;
	padding: 10px 0;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #06275f;
}

#donate-ribbon h3 {
	font-weight: 100;
	margin-top: 30px;
	text-align: center;
	color: white;
	text-shadow: 1px 1px 1px #06275f;
}

#donate-ribbon h3 span {
	font-weight: 600;
	font-size: 140%;
}

.connect-center {
	margin: 0 auto;
	text-align: center;
	width: 564px;
}



/* ===================== */
/* Stories Ribbon Styles */
/* ===================== */

#recent-stories {
	padding: 40px 0;
}





/* ========================== */
/* Donate Ribbon Small Styles */
/* ========================== */

#donate-ribbon-small {
	padding: 30px 0 20px;
}

#donate-ribbon-small h2 {
	color: white;
	text-align: center;
	text-shadow: 1px 1px 1px #06275f;	
}

#donate-ribbon-small .connect-center {
	width: auto;
}

#donate-ribbon-small .connect-center .btn {
	float: left;
	margin-left: 2%;
	margin-top: 3px;
}



/* ===================== */
/* Joining Ribbon Styles */
/* ===================== */

.ribbon {
	padding: 20px 0;
	background: white;
}

#joining-ribbon h3 {
	padding-top: 40px;
	font-weight: 500;
}

.joining-block img {
	width: 68%;
	height: auto;
	margin-left: 16%;
}

.joining-block p {
	margin-left: 16%;
	color: #747474;
}




/* ==================== */
/* Crisis Ribbon Styles */
/* ==================== */

#crisis-ribbon {
	padding-bottom: 40px;
}

#crisis-ribbon h2 {
	font-size: 280%;
	width: 80%;
	line-height: 1.2;
}

#crisis-ribbon p {
	margin-top: 30px;
	margin-left: 16%;
	color: #747474;
}

#crisis-ribbon img {
	margin-top: 0;
	width: 80%;
	height: auto;
	margin-left: 10%;
	border: 1px solid #747474;
	margin-bottom: 40px;
}




/* ============= */
/* Media Queries */
/* ============= */

/* Large desktop */
@media (min-width: 1200px) {
	.featured-background-image {
		height: 540px;
	}
	#main-inner {
		height: 540px;
	}
	.navbar .container {
		width: 1170px;
	}
}
 
/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) { 
	.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
		margin-bottom: 0px;
		padding: 0 25px;
	}
	.navbar-fixed-top {
		margin-bottom: 0px;
	}
	.featured-background-image {
		height: 340px;
		margin-top: 0px;
	}
	.featured-background-image .container {
		width: 100%;
	}
	#main-inner {
		height: 340px;
	}
	#featured-post-title-block {
		width: 96%;
	}
	h2#featured-post-title {
		font-size: 140%;
	}
	h2#featured-post-title span {
		font-size: 80%;
	}
	.navbar .container {
		width: 100%;
	}
	
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
	body {
		padding-right: 0px;
		padding-left: 0px;
	}
	.container {
		width: 96%;
	}
	.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
		margin-right: 0px;
		margin-left: 0px;
	}
	.btn-connect-facebook:before {
		content: "Connect";
	}
	.btn-connect-twitter:before {
		content: "Connect";
	}
	.featured-background-image {
		height: 220px;
	}
	#main-inner {
		height: 220px;
	}
	p#featured-post-text {
		margin: 30px 0 0;
		padding: 0;
	}
	p.share-this {
		top: 15px;
		right: 132px;
	}
	.shr_classic {
		top: -3px;
		right: 20px;
	}
	#settings-form .fieldWrapperCheckbox {
		margin-left: 0;
	}
}
 
/* Landscape phones and down */
@media (max-width: 480px) {
	.hidden-mobile {
		display: none;
	}
	.visible-mobile {
		display: block;
	}
	.navbar-inverse .navbar-inner {
		padding: 0px 10px;
	}
	.navbar-inverse .navbar-inner .brand {
		width: 100px;
	}
	.btn-connect {
		padding: 0px 4px 4px;
		top: 0px;
		margin-right: 10px;
		line-height: 0.7;
	}
	.btn-connect i {
		padding: 2px 0px;
		margin: 0;
		/*font-size: 100%;*/
	}
	.btn-connect-twitter {
		padding: 0px 7px 5px 1px;
	}
	.btn-connect-twitter i {
		margin-top: -1px;
	}
	.btn-connect-facebook:before {
		content: "";
	}
	.btn-connect-twitter:before {
		content: "";
	}
	.featured-background-image {
		height: 140px;
	}
	#main-inner {
		height: 140px;
	}
	h2#featured-post-title-mobile {
		font-size: 120%;
	}
	h2#featured-post-title-mobile span {
		font-size: 90%;
	}
}