/* ============= */
/* Media Queries */
/* ============= */

@media (max-width: 1280px) {
	#hero {
		background-size: 1280px 720px;
		background-position: top center;
	}
  /*#signin {
    background-size: 1280px 720px;
    background-position: top center;
  }*/
}

/* Large desktop */
@media (min-width: 1200px) {
  .signin-heading { font-size: 86px; }
}

/* Portrait tablet to landscape and desktop */
@media (max-width: 979px) {
  #user-container { width: 38%; }
  #settings-form { padding: 10px 0; }
  #settings-form .close { right: 0px; }
  #ajax-form .close { top: 20px; }
  .hero-text h1 { width: 100%; font-size: 40px; }
  .small-btn { margin:0 1% 0 0; width: 31%; }
  .hero .container { max-width: 86%; }
  .hero-text p { width: 100%; font-size: 20px; }
  #featured-post .small-btn { width: 80%; }
  .blue-stripe p { font-size: 27px; line-height: 1.2; }
  .instagram li { width: 20%; }
  .signin-heading { font-size: 56px; }
  .social-posts-heading { font-size: 56px; }
  #dashboard-user-img { margin-top: 14px; }
  .next-heading {font-size: 56px; }
  .next-button a { font-size: 14px; }
}

@media (min-width: 768px) and (max-width: 979px) {
  .mobile-nav { max-height: 800px; }
}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  .container { max-width: 90%; }
  #settings-form .field { width: 100%; float: none; margin: 14px 0 0; }
  #settings-form .checkboxField { width: 100%; margin: 10px 0 0; }
  #settings-form .checkboxField:first-child { margin: 18px 0 0; }
  div.checkboxField:not(#foo) > input[type='checkbox'] { opacity: 1; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; filter: alpha(opacity=100); float: left; width: 20px; height: 20px; margin-right: 6px; }
  div.checkboxField:not(#foo) > input[type='checkbox'] + label { margin-left: 0; padding-left: 0; width: auto; height: auto; background: none; }
  #settings-form input[type="submit"] { margin-left: 0; font-size: 18px; padding: 10px 20px; }
  #settings-form .close { right: 0; top: 5px; }
  .hero-text h1 { width: 70%; font-size: 34px; }
  .hero-text p { width: 90%; font-size: 20px; }
  .post-navigation a { width: 38px; height: 480px; background-color: rgba(0,0,0,0.6); background-image: url(../image/arrows_mobile.png); }
  .post-navigation .next { right: 0; }
  .post-navigation .previous { left: 0; background-position: -30px center; }
  #signin .overlay { border-radius: 0; }
  .social-posts-heading { font-size: 48px; }
  .mobile-nav .container { max-width: 100%; }
  #dashboard-user-img { width: 40%; margin-left: 30%; }
  .next-image { width: 50%; margin-left: 23%; padding: 2%; margin-bottom: 20px; margin-top: 0; }
  .next-heading {font-size: 42px; }
  .instagram li { width: 25%; }
  #featured-post { padding-bottom: 0px; }
  .water-footer { min-height: 320px; }
  .water-footer-header { width: 100%; }
  .water-footer-logo { float: none; width: 30%; margin-left: 35%; }
  .water-footer-text { float: none; padding-left: 20%; padding-right: 20%; text-align: center; font-size: 20px; }
  .water-footer-links li { margin-bottom: 10px; }

}

/* Landscape phones and down */
@media (max-width: 480px) {
  .hero .container { max-width: 80%; }
  .mobile-nav span { padding-top: 6px; }
  .hero-text h1 { width: 70%; font-size: 34px; line-height: 1.1em; }
  #featured-post h2 { font-size: 44px; }
  .hero-text p { width: 90%; font-size: 18px; margin-bottom: 20px; }
  .hero-text .small-btn { width: 46%; }
  .hero-text .blue-btn { width: 94%; margin-bottom: 18px; }
  #signin .overlay { padding: 30px 20px 13px; }
  .signin-heading { font-size: 58px; margin: 36px 0 18px; }
  .signin-text { font-size: 16px; line-height: 1.4; }
  .social-posts-text { font-size: 16px; line-height: 1.4; }
  .next-text { font-size: 16px; font-weight: 400; }
  .next-button a span { font-size: 48px; }
  .next-button a { font-size: 14px; font-weight: normal; }
  .blue-stripe p { font-size: 20px; line-height: 1.2; }
  .instagram li { width: 50%; }
  #footer-base-wrap p { font-size: 12px; line-height: 21px; }
  #mobile-user-img { margin-left: 25%; padding: 2%; width: 48%; }
  #mobile-learn .small-btn { width: 80%; margin-left: 10%; padding: 18px 0; }

  .water-footer-logo { width: 45%; margin-left: 27.5%; }

}

/* Landscape phones and down */
@media (max-width: 386px) {
  .water-footer-text { float: none; padding-left: 10%; padding-right: 10%; }
  .water-footer { min-height: 380px; }
  .hero-text h1 { font-size: 28px; }
}

